<ng-container *ngIf="!submitted;">
    <div id="card-element" class="checkout-form">
        <form (ngSubmit)="submitPayment()">
            <div *ngIf="error" id="card-errors" role="alert">
                {{ errorMessage }}
            </div>

            <div class="button-container">
                <button [disabled]="submitting || !authorised">
                    <mat-progress-spinner *ngIf="submitting" mode="indeterminate"></mat-progress-spinner>
                    {{ submitting ? 'Submitting...' : 'Pay now' }}
                </button>
            </div>
        </form>
    </div>
</ng-container>