<div class="sh-form_container">
    <h2>Change your password</h2>

    <form [formGroup]="passwordForm" (submit)="submitForm()">


        <mat-form-field appearance="outline">
            <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.touched">
                Password should be at least 6 characters long
            </mat-error>
            <mat-label>New password</mat-label>
            <input matInput type="password" placeholder="Enter new password" formControlName="newPassword" />
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Repeat password</mat-label>
            <input matInput type="password" placeholder="Confirm new password" formControlName="newMatchingPassword" />
            <mat-icon matSuffix>password</mat-icon>
            <mat-error *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.touched">
                Passwords do not match
            </mat-error>
        </mat-form-field>


        <ng-container *ngIf="error">
            <span>{{errorMessage}}</span>
        </ng-container>

        <div class="button-container">
            <button type="submit" [class.deActivated]="deActivated">Continue <img src="/assets/icons/arrow-right.svg"
                    alt="icon arrow right" /></button>
            <button (click)="closeModal()">Cancel</button>
        </div>
    </form>
</div>