<section class="signup-section"
    style="position: relative; background-image: url('assets/signup-background.jpg'); background-size: cover; background-position: center center; object-fit: cover; width: 100%; height: 100%;">
    <div class="signup-container sh-form_container  xs-container">

        <ng-container *ngIf="!loading">
            <h1>Welcome {{submitted ? '✅' : '👋' }}</h1>
            <ng-container *ngIf="!error && !submitted">
                <span style="margin-top: 15px;">Sign up by filling the fields, the email and password will beused to log
                    you in.</span>
            </ng-container>
        </ng-container>


        <ng-container>
            <form [formGroup]="formData" (ngSubmit)="signupUser()">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Choose your email" formControlName="email">
                    <mat-error *ngIf="formData.get('email')?.hasError('existingEmail')">
                        Email already taken
                    </mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field color="accent" *ngIf="!submitted" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder=" Choose your password" formControlName="password">
                </mat-form-field>

                <mat-form-field *ngIf="!submitted" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput placeholder="Confirm your password"
                        formControlName="matchingPassword">
                    <mat-error
                        *ngIf="formData.get('matchingPassword')?.hasError('passwordMismatch') && formData.get('matchingPassword')?.touched">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>

                <span class *ngIf="error">{{errorMessage}}</span>


                <a *ngIf="!loading && !submitted" routerLink="/login" class="goto-login"><span>Already have an
                        account?</span></a>

                <ng-container *ngIf="!loading && !submitted">
                    <div class="btn-container center">
                        <button
                            [ngClass]="{'auth-invalid': (error || submitted) || formData.invalid, 'auth-button': !error && !submitted && formData.valid}"
                            type="submit" [disabled]="loading || submitted">Sign up <img
                                src="/assets/icons/arrow-right.svg" alt="arrow-right" /></button>
                    </div>
                </ng-container>



                <ng-container *ngIf="!loading && submitted && !error">
                    <div class="registration-success">
                        <button class="auth-button" routerLink="/login">Go to login <img
                                src="/assets/icons/arrow-right.svg" alt="arrow-right" /> </button>
                    </div>
                </ng-container>


            </form>

            <ng-container *ngIf="loading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </ng-container>

            <div class=" offer-container">
                <div class="offer-item">
                    <img src="/assets/icons/chat.svg" alt="bild" />
                    <h3>Consultation</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="offer-item">
                    <img src="/assets/icons/dumbell.svg" alt="bild" />
                    <h3>Exercise</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="offer-item">
                    <img src="/assets/icons/friends.svg" alt="bild" />
                    <h3>Social</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </ng-container>



    </div>
</section>