$primary-black: #1b1b1b;

$primary-midnight: #001f3f63;

$primary-green: #152a11d6;
$secondary-green: #142012d6;

$primary-white: #fff;
$primary-background: rgba(0, 0, 0, 0.581);
$secondary-background: rgba(0, 0, 0, 0.155);


$primary-gray: #565050;
$text-color: #3f3e3e;

$primary-orange: #ff565b;
$secondary-orange: #ff7f6c;
$third-orange: #fab85a;
$fourth-orange: #ff9d83;

$primary-blend: #dddddd0f;
$secondary-blend: #ff00d80f;
$third-blend: #451f32a6;

$primary-alert: #ec23230f;

$primary-pink: #ac3091;

$red: #df1947;

$primary-border: rgba(255, 255, 255, 0.223);


/* NEW COLORS */
$primary-dark: #2d2d2d;
$primary-yellow: #eab819;
$primary-light: hsla(0, 0%, 100%, .7);
$primary-blue: #34495E;


$primary-bg-image: linear-gradient(135deg, rgb(12, 7, 4), $primary-midnight);