<div class="sh-form_container">
    <h2>Change your email address</h2>

    <form [formGroup]="formData" (submit)="submitForm()">

        <mat-form-field appearance="outline">
            <mat-label>New Email</mat-label>
            <input matInput placeholder="Enter new email address" formControlName="newEmail">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <ng-container *ngIf="error">
            <span>{{errorMessage}}</span>
        </ng-container>
        <div class="button-container">
            <button type="submit" [class.deActivated]="deActivated">Continue <img src="/assets/icons/arrow-right.svg"
                    alt="icon arrow right" /></button>
            <button (click)="closeModal()">Cancel</button>
        </div>
    </form>
</div>