<section class="md-container">
    <div class="p-v-50 about-container">

        <app-fade-in-animation>
            <div class="pill-container">INFORMATION</div>
        </app-fade-in-animation>
        <h1>About Us</h1>
        <div>
            <p>Welcome to GYM Planet, where our mission is to make fitness accessible and enjoyable for everyone.
                Whether you're taking your first steps towards a healthier lifestyle or seeking new challenges to
                push
                your limits, we're here to support and guide you throughout your fitness journey.</p>

            <p>At GYM Planet, we believe in creating a welcoming and inclusive environment where individuals of all
                fitness levels can thrive. Our state-of-the-art facilities, experienced trainers, and diverse range
                of
                workout programs are designed to cater to your specific needs and goals.</p>

            <p>What sets us apart is our commitment to not just physical fitness, but also mental and emotional
                well-being. We're more than just a gym; we're a community that fosters encouragement, motivation,
                and
                success.</p>

            <p>Here, you can find a variety of fitness classes, personalized training plans, nutritional guidance,
                and a
                supportive network of fellow members, all working towards a common goal - a healthier and happier
                life.
            </p>

            <p>Join us at GYM Planet and embark on a transformative journey towards a better, stronger, and
                healthier
                version of yourself. We're excited to be a part of your story and help you achieve your fitness
                aspirations.</p>
        </div>

        <app-fade-in-animation>
            <div class="pill-container m-t-30">FAQ</div>
        </app-fade-in-animation>

        <div class="flex-column">
            <p>Have questions about our gym and services? Here are some commonly asked questions:</p>
            <app-fade-in-animation>
                <div class="flex-column">
                    <h3>1. What are your membership plans?</h3>
                    <p>At GYM Planet, we offer a variety of membership plans to suit your needs. We have flexible
                        options
                        ranging from monthly subscriptions to annual packages. Feel free to explore our "Plans" page
                        for
                        more
                        details.</p>
                </div>
            </app-fade-in-animation>
            <app-fade-in-animation>
                <div class="flex-column">
                    <h3>2. Are personal training sessions available?</h3>
                    <p>Absolutely! We have experienced personal trainers available to guide and support you in
                        achieving
                        your
                        fitness goals. You can opt for personalized training sessions designed specifically for you.
                    </p>
                </div>
            </app-fade-in-animation>
            <app-fade-in-animation>
                <div class="flex-column">
                    <h3>3. What types of classes do you offer?</h3>
                    <p>We provide a diverse range of classes suitable for all fitness levels. Our classes include
                        yoga,
                        high-intensity interval training (HIIT), spinning, strength training, and more. Check our
                        "Classes/Schedule" page for the current offerings.</p>
                </div>
            </app-fade-in-animation>
            <app-fade-in-animation>
                <div class="flex-column">
                    <h3>4. How can I contact your customer support?</h3>
                    <p>You can reach out to our customer support team by phone at [insert phone number] or via email
                        at
                        [insert
                        email address]. We're dedicated to providing assistance and answering any queries you may
                        have.
                    </p>
                </div>
            </app-fade-in-animation>
            <app-fade-in-animation>
                <div class="flex-column">
                    <h3>5. Do you offer nutritional guidance?</h3>
                    <p>Yes, we provide nutritional advice and guidance as part of our holistic approach to fitness.
                        Our
                        experts
                        can help you with diet plans and recommendations to complement your workout routine.</p>

                    <p>If you have other questions not addressed here, feel free to reach out to us.
                        We're here to assist you! 😀</p>
                </div>
            </app-fade-in-animation>

            <app-fade-in-animation>
                <a href="mailto:danielbernhardt1996@outlook.com" class="color-btn">
                    Contact us
                </a>
            </app-fade-in-animation>

        </div>
    </div>
</section>