<section class="login-section"
    style="position: relative; background-image: url('assets/login-background.jpg'); background-size: cover; background-position: center center; object-fit: cover; width: 100%; height: 100%;">
    <div class="login-container sh-form_container xs-container">
        <h1 style="margin: 0;">{{isBeforeNoon ? "Good morning 👋" : "Good afternoon 👋"}}</h1>
        <span style="margin: 15px 0;">Please login to enter.</span>

        <form [formGroup]="formData" (ngSubmit)="loginUser()">


            <mat-form-field appearance="outline"
                [ngClass]="{'highlight-error': formData.get('email')?.hasError('email')}">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" autoComplete matInput formControlName="password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>



            <ng-container *ngIf="loading">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner><span>Logging in...</span>
            </ng-container>

            <ng-container *ngIf="!loading && submitted">
                <span>Login successful</span>
            </ng-container>

            <a *ngIf="!submitted && !loading" class=" goto-signup" routerLink="/signup"> <span>Create a new
                    account?</span></a>

            <ng-container *ngIf="!submitted && !loading">
                <div class="btn-container center">
                    <button [ngClass]="formData.invalid ? 'auth-invalid' : 'auth-button'" type="submit"
                        [disabled]="loading || submitted || formData.invalid">Login <img
                            src="/assets/icons/arrow-right.svg" alt="arrow-right" /></button>
                </div>
            </ng-container>

            <ng-container *ngIf="loginMessage.length > 0">
                <span class="error" style="margin: 20px auto">{{loginMessage}}</span>
            </ng-container>

        </form>


    </div>

</section>