<div class="sh-form_container">
    <h2>Messages</h2>

    <div class="settings_flex">
        <p>Emails from GYM planet</p>

        <div class="slider-container">
            <mat-slide-toggle [checked]="selectedValue" (change)="onSlideToggleChange($event)"></mat-slide-toggle>
        </div>
    </div>
    <span>
        Use my email address to send promotional offers from GYM Planet and affiliates via email, social media, and
        other
        channels. It may take some time for the changes to your email settings to take effect.
    </span>
</div>